<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../../partials/head") %>
        <title>Perfil - Nueva Direccion</title>
</head>

<body>
    <header><%- include("../../partials/navbar") %></header>
    <div class="container-fluid p-0">
        <div class="collapse multi-collapse" id="searchCollapse">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="searchData"
                    placeholder="Buscá corpiños, bombachas, medias ,trajes de baño y más..." />
                <label for="searchData">Buscá Marca, modelo, articulo y más...</label>
            </div>
        </div>
    </div>

    <main class="container mt-2">
        <div class="p-3 rounded bg-withe">
            <h1 class="fs-6 fw-bolder mt-4 mb-3 ms-2">Nueva direccion</h1>   
            <section class="rounded">
                <form action="/users/profile/account" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <% if(errors && errors.name) { %>
                            <div class="form-floating mb-4 ">
                                <input type="text" class="form-control is-invalid" id="floatingInputname" name="name" value="<%= oldData ? oldData.name :"" %>">
                                <label for="floatingInputname"><%= errors.name.msg %></label>
                            </div>
                        <% }else { %>
                            <div class="form-floating mb-4 ">
                                <input type="text" class="form-control" id="floatingInputname"  name="name" placeholder="Nombre" value="<%= userData ? userData.name :"" %>">
                                <label for="floatingInputname">Nombre</label>
                            </div>
                        <% } %>
                    </div>
                    <div class="col-md-6">
                        <% if(errors && errors.phone) { %>
                            <div class="form-floating mb-4 ">
                                <input type="number"  class="form-control is-invalid" id="floatingInputphone" name="phone" placeholder="Telefono" value="<%= oldData ? oldData.phone :"" %>">
                                <label for="floatingInputphone"><%= errors.phone.msg %></label>
                            </div>
                        <% }else { %>
                            <div class="form-floating mb-4 ">
                                <input type="number" class="form-control" id="floatingInputphone" name="phone" placeholder="Telefono" value="<%= userData ? userData.phone :"" %>">
                                <label for="floatingInputphone">Telefono</label>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <% if(errors && errors.street) { %>
                            <div class="form-floating mb-4 ">
                                <input type="text" class="form-control is-invalid" id="floatingInputstreet" name="street" value="<%= oldData ? oldData.street :"" %>">
                                <label for="floatingInputstreet"><%= errors.street.msg %></label>
                            </div>
                        <% }else { %>
                            <div class="form-floating mb-4 ">
                                <input type="text" class="form-control" id="floatingInputstreet" name="street" placeholder="Calle" value="<%= userData ? userData.street :"" %>">
                                <label for="floatingInputstreet">Calle</label>
                            </div>
                        <% } %>
                    </div>
                    <div class="col-md-2">
                        <% if(errors && errors.number) { %>
                            <div class="form-floating mb-4 ">
                                <input type="number" class="form-control is-invalid" id="floatingInputnumber" name="number" value="<%= oldData ? oldData.number :"" %>">
                                <label for="floatingInputnumber"><%= errors.number.msg %></label>
                            </div>
                        <% }else { %>
                            <div class="form-floating mb-4 ">
                                <input type="number" class="form-control" id="floatingInputnumber" name="number" placeholder="Numero"  value="<%= userData ? userData.number :"" %>">
                                <label for="floatingInputnumber">Numero</label>
                            </div>
                        <% } %>
                    </div>
                    <div class="col-md-2">
                        <% if(errors && errors.postalCode) { %>
                            <div class="form-floating mb-4 ">
                                <input type="number" class="form-control is-invalid" id="floatingInputpostalCode" name="postalCode" value="<%= oldData ? oldData.postalCode :"" %>">
                                <label for="floatingInputpostalCode"><%= errors.postalCode.msg %></label>
                            </div>
                        <% }else { %>
                            <div class="form-floating mb-4 ">
                                <input type="number" class="form-control" id="floatingInputpostalCode" name="postalCode" placeholder="Codigo Postal"  value="<%= userData ? userData.postalCode :"" %>">
                                <label for="floatingInputpostalCode">Codigo Postal</label>
                            </div>
                        <% } %>
                    </div>
                    <div class="col-md-2">
                        <% if(errors && errors.floor) { %>
                            <div class="form-floating mb-4 ">
                                <input type="text" class="form-control is-invalid" id="floatingInputfloor" name="Piso" value="<%= oldData ? oldData.floor :"" %>">
                                <label for="floatingInputfloor"><%= errors.floor.msg %></label>
                            </div>
                        <% }else { %>
                            <div class="form-floating mb-4 ">
                                <input type="text" class="form-control" id="floatingInputfloor" name="floor" placeholder="Piso"  value="<%= userData ? userData.floor :"" %>">
                                <label for="floatingInputfloor">Piso</label>
                            </div>
                        <% } %>
                    </div>
                    <div class="col-md-2">
                        <% if(errors && errors.departament) { %>
                            <div class="form-floating mb-4 ">
                                <input type="text" class="form-control is-invalid" id="floatingInputdepartament" name="departament" value="<%= oldData ? oldData.departament :"" %>">
                                <label for="floatingInputdepartament"><%= errors.departament.msg %></label>
                            </div>
                        <% }else { %>
                            <div class="form-floating mb-4 ">
                                <input type="text" class="form-control" id="floatingInputdepartament" name="departament" placeholder="Departamento"  value="<%= userData ? userData.departament :"" %>">
                                <label for="floatingInputdepartament">Departamento</label>
                            </div>
                        <% } %>
                    </div>
                    <div class="col-md-4">
                        <% if(errors && errors.district) { %>
                            <div class="form-floating mb-4 ">
                                <input type="text" class="form-control is-invalid" id="floatingInputdistrict" name="district" value="<%= oldData ? oldData.district :"" %>">
                                <label for="floatingInputdistrict"><%= errors.district.msg %></label>
                            </div>
                        <% }else { %>
                            <div class="form-floating mb-4 ">
                                <input type="text" class="form-control" id="floatingInputdistrict" name="district" placeholder="Barrio"  value="<%= userData ? userData.district :"" %>">
                                <label for="floatingInputdistrict">Barrio</label>
                            </div>
                        <% } %>
                    </div>
                    <div class="col-md-4">
                        <% if(errors && errors.state) { %>
                            <div class="form-floating mb-4 ">
                                <input type="text" class="form-control is-invalid" id="floatingInputstate" name="state" value="<%= oldData ? oldData.state :"" %>">
                                <label for="floatingInputstate"><%= errors.state.msg %></label>
                            </div>
                        <% }else { %>
                            <div class="form-floating mb-4 ">
                                <input type="text" class="form-control" id="floatingInputstate" name="state" placeholder="Provincia"  value="<%= userData ? userData.state :"" %>">
                                <label for="floatingInputstate">Provincia</label>
                            </div>
                        <% } %>
                    </div>
                    <div class="col-md-4">
                        <% if(errors && errors.country) { %>
                            <div class="form-floating mb-4 ">
                                <input type="text" class="form-control is-invalid" id="floatingInputcountry" name="country" value="<%= oldData ? oldData.country :"" %>">
                                <label for="floatingInputcountry"><%= errors.country.msg %></label>
                            </div>
                        <% }else { %>
                            <div class="form-floating mb-4 ">
                                <input type="text" class="form-control" id="floatingInputcountry" name="country" placeholder="Pais"  value="<%= userData ? userData.country :"" %>">
                                <label for="floatingInputcountry">Pais</label>
                            </div>
                        <% } %>
                    </div>
                </div>

                <div class="d-grid gap-2">
                    <button class="btn btn-outline-primary btn-pink" type="submit">Guardar cambios</button>
                  </div> 
                </form> 
            </section>
        </div>
    </main>

    <!-- Footer -->
    <%- include("../../partials/footer") %>
        <!-- Bootstrap JS y Popper.js -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</body>

</html>